#mnu{
    color: #fff;
}
#icon{
    color: white;
}
.ico{
}
.ico-down{
    text-align: right;
}
.stilo>li>a {
    color: #fff;
}

#div-pesquisa-produto-azul {
    background-color: #009FAB;
    width:500px;
    height:220px;
    margin-left: 45px;
    float: left;
    box-shadow: -2px -2px 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
}

#div-pesquisa-produto-cinza {
    background-color: #C7C7C7;
    width:340px;
    height:220px;
    margin-right: 250px;
    float:right;
    box-shadow: -2px -2px 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
}

#div-pesquisa-produto-branco {
    background-color: white;
    width: 900px;
    height: 180px;
    margin-left: 45px;
    margin-top: 20px;
    float: left;  
}

#img-sport4you {
    margin-left: 35px;
    float: left;
}
